<!-- Main section start -->
<div class="recruitmentMain">

    <!-- Top Heading section start -->
  <div class="container-fluid">
    <div class="ui-g">
        <div class="ui-g-6 ui-sm-9 ui-md-6 ui-lg-6 ui-xl-6"><h2 class="copnyName">Infosys 2017 Recruitment Course</h2></div>
        <div class="ui-g-6 ui-sm-3 ui-md-6 ui-lg-6 ui-xl-6">
            <img src="assets/img/close.png" alt="close img" class="right closeIcon" />
        </div>
    </div>
  </div>
  <!-- Top Heading section end -->

  <hr>
  <div class="container-fluid">

    <div class="prograBar">
      <h3>Course Completion Status</h3>
      <p-progressBar [value]="20"></p-progressBar>
    </div>

    <div class="aptitude">

      <!-- Tile section start -->
      <div class="aptitudeTitle">
        <h2>
          <img src="assets/img/screen.jpg" alt="aptitude img"> Aptitude</h2>
      </div>
      <!-- Tile section end -->

      <div class="circlechart" data-percentage="85"></div>


      <!-- Module Learning Contents section start -->
      <div class="moduleLearning">

        <h2 class="fs1rem fbold">Module Learning Contents</h2>


        <!-- STATUS SECTION START -->
        <div class="groupBox">
          <div class="ui-g ui-g-nopad">

            <div class=" ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 ui-xl-6">
              <h2 class="nameofcompny fs1rem fbold no-marging ">
                <span>1</span> Infosys 2017 Recruitment
              </h2>
            </div>

            <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 ui-xl-6 ui-g-nopad">

              <div class="ui-g-6 ui-md-3 ui-lg-3">
                <div class="LeaderBoard22">

                  <!-- You can now use it in app.component.html -->
                  <circle-progress [percent]="85" [radius]="30" [backgroundPadding]="1" [outerStrokeWidth]="10" [maxPercent]="100" [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8" [outerStrokeColor]="'#2a9f90'" [innerStrokeColor]="'#ffffff'" [animation]="true"
                    [animationDuration]="300" [showTitle]="true" [showUnits]="false" [showSubtitle]="false" [subtitleFontSize]="25"
                    [showTitle]="false" [outerStrokeLinecap]="'square'"></circle-progress>
                </div>
              </div>
              <div class="ui-g-6 ui-md-3 ui-lg-3">
                <div class="LeaderBoard">
                  <img src="assets/img/leaderboard.jpg" alt="Leader Board">
                  <p>Leader Board</p>
                </div>
              </div>
              <div class="ui-g-6 ui-md-3 ui-lg-3">
                <div class="rightBtn text-center">
                  <button pButton type="button" label="87 / 100" class="blackBtn"></button>
                  <button pButton type="button" label="Retake test" class="orangeBtn"></button>
                </div>
              </div>
              <div class="ui-g-6 ui-md-3 ui-lg-3">
                <div class="rightBtn text-center">
                  <button pButton type="button" label="View Analysis" class="blackBtn"></button>
                  <button pButton type="button" label="View Test" class="orangeBtn"></button>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- STATUS SECTION END -->

        <!-- STATUS SECTION START -->
        <div class="groupBox">
          <div class="ui-g ui-g-nopad">
            <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 ui-xl-6">
              <h2 class="nameofcompny fs1rem fbold no-marging ">
                <span>2</span> Infosys 2017 Recruitment
              </h2>
            </div>
            <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 ui-xl-6 ui-g-nopad">

              <div class="ui-g-6 ui-md-3 ui-lg-3 ui-g-nopad">
                <div class="LeaderBoard22">

                  <!-- You can now use it in app.component.html -->
                  <circle-progress [percent]="85" [radius]="30" [backgroundPadding]="1" [outerStrokeWidth]="10" [maxPercent]="100" [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8" [outerStrokeColor]="'#2a9f90'" [innerStrokeColor]="'#ffffff'" [animation]="true"
                    [animationDuration]="300" [showTitle]="true" [showUnits]="false" [showSubtitle]="false" [subtitleFontSize]="25"
                    [showTitle]="false" [outerStrokeLinecap]="'square'"></circle-progress>
                </div>
              </div>
              <div class="ui-g-6 ui-md-3 ui-lg-3">
                <div class="LeaderBoard">
                  <img src="assets/img/leaderboard.jpg" alt="Leader Board">
                  <p>Leader Board</p>
                </div>
              </div>
              <div class="ui-g-6 ui-md-3 ui-lg-3">
                <div class="rightBtn text-center">
                  <button pButton type="button" label="87 / 100" class="blackBtn"></button>
                  <button pButton type="button" label="Retake test" class="btnmuted"></button>
                </div>
              </div>
              <div class="ui-g-6 ui-md-3 ui-lg-3">
                <div class="rightBtn text-center">
                  <button pButton type="button" label="View Analysis" class="blackBtn"></button>
                  <button pButton type="button" label="View Test" class="orangeBtn"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- STATUS SECTION END -->

        <!-- STATUS SECTION START -->
        <div class="groupBox">
          <div class="ui-g ui-g-nopad">
            <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 ui-xl-6">
              <h2 class="nameofcompny fs1rem fbold no-marging ">
                <span>4</span> Infosys 2017 Recruitment
              </h2>
            </div>
            <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 ui-xl-6 ui-g-nopad">

              <div class="ui-g-6 ui-md-3 ui-lg-3">
                <div class="LeaderBoard22">

                  <p class=sectionTitle>Sections</p>
                  <span class="noindicate">3</span>

                </div>
              </div>
              <div class="ui-g-6 ui-md-3 ui-lg-3">

                <p class=sectionTitle>Questions</p>
                <span class="noindicate">50</span>

              </div>
              <div class="ui-g-6 ui-md-3 ui-lg-3">
                <p class=sectionTitle>Time Limit</p>
                <span class="noindicate">60 min</span>
              </div>
              <div class="ui-g-6 ui-md-3 ui-lg-3">

                <div class="rightBtn text-center">
                  <button pButton type="button" label="Paused" class="btnPaused"></button>
                  <button pButton type="button" label="Take test" class="btnGreen"></button>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- STATUS SECTION END -->


        <!-- STATUS SECTION START -->
        <div class="groupBox">
          <div class="ui-g ui-g-nopad">
            <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 ui-xl-6">
              <h2 class="nameofcompny fs1rem fbold no-marging ">
                <span>4</span> Infosys 2017 Recruitment
              </h2>
            </div>
            <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 ui-xl-6 ui-g-nopad">

              <div class="ui-g-6 ui-md-3 ui-lg-3">
                <div class="LeaderBoard22">

                  <p class=sectionTitle>Sections</p>
                  <span class="noindicate">3</span>

                </div>
              </div>
              <div class="ui-g-6 ui-md-3 ui-lg-3">

                <p class=sectionTitle>Questions</p>
                <span class="noindicate">50</span>

              </div>
              <div class="ui-g-6 ui-md-3 ui-lg-3">
                <p class=sectionTitle>Time Limit</p>
                <span class="noindicate">60 min</span>
              </div>
              <div class="ui-g-6 ui-md-3 ui-lg-3">

                <div class="rightBtn text-center">
                  <button pButton type="button" label="Take test" class="btnGreen"></button>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- STATUS SECTION END -->


        <!-- STATUS SECTION START -->
        <div class="groupBox grybg">
          <div class="ui-g ui-g-nopad">
            <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 ui-xl-6">
              <h2 class="nameofcompny fs1rem fbold no-marging ">
                <span>4</span> Infosys 2017 Recruitment
              </h2>
            </div>
            <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 ui-xl-6 ui-g-nopad">

              <div class="ui-g-6 ui-md-3 ui-lg-3">
                <div class="LeaderBoard22">

                  <p class=sectionTitle>Sections</p>
                  <span class="noindicate">3</span>

                </div>
              </div>
              <div class="ui-g-6 ui-md-3 ui-lg-3">

                <p class=sectionTitle>Questions</p>
                <span class="noindicate">50</span>

              </div>
              <div class="ui-g-6 ui-md-3 ui-lg-3">
                <p class=sectionTitle>Time Limit</p>
                <span class="noindicate">60 min</span>
              </div>
              <div class="ui-g-6 ui-md-3 ui-lg-3">

                <div class="testLock">
                  <img src="assets/img/lock.jpg" alt="Lock">
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- STATUS SECTION END -->


        <div class="quants">
          <h2>
            <img src="assets/img/screen2.png" alt="screen img"> Quants</h2>
        </div>

        <h2 class="fs1rem fbold">Submodule Learning Contents</h2>

        <!-- STATUS SECTION START -->
        <div class="groupBox">
          <div class="ui-g ui-g-nopad">
            <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 ui-xl-6">
              <h2 class="nameofcompny fs1rem fbold no-marging ">
                <span>1</span> Infosys 2017 Recruitment
              </h2>
            </div>
            <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 ui-xl-6 ui-g-nopad">

              <div class="ui-g-6 ui-md-3 ui-lg-3 ui-g-nopad">
                <div class="LeaderBoard22">

                  <!-- You can now use it in app.component.html -->
                  <circle-progress [percent]="85" [radius]="30" [backgroundPadding]="1" [outerStrokeWidth]="10" [maxPercent]="100" [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8" [outerStrokeColor]="'#2a9f90'" [innerStrokeColor]="'#ffffff'" [animation]="true"
                    [animationDuration]="300" [showTitle]="true" [showUnits]="false" [showSubtitle]="false" [subtitleFontSize]="25"
                    [showTitle]="false" [outerStrokeLinecap]="'square'"></circle-progress>
                </div>
              </div>
              <div class="ui-g-6 ui-md-3 ui-lg-3">
                <div class="LeaderBoard">
                  <img src="assets/img/leaderboard.jpg" alt="Leader Board">
                  <p>Leader Board</p>
                </div>
              </div>
              <div class="ui-g-6 ui-md-3 ui-lg-3">
                <div class="rightBtn text-center">
                  <button pButton type="button" label="87 / 100" class="blackBtn"></button>
                  <button pButton type="button" label="Retake test" class="orangeBtn"></button>
                </div>
              </div>
              <div class="ui-g-6 ui-md-3 ui-lg-3">
                <div class="rightBtn text-center">
                  <button pButton type="button" label="View Analysis" class="blackBtn"></button>
                  <button pButton type="button" label="View Test" class="orangeBtn"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- STATUS SECTION END -->

        <!-- STATUS SECTION START -->
        <div class="groupBox">
          <div class="ui-g ui-g-nopad">
            <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 ui-xl-6">
              <h2 class="nameofcompny fs1rem fbold no-marging ">
                <span>2</span> Infosys 2017 Recruitment
              </h2>
            </div>
            <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 ui-xl-6 ui-g-nopad">

              <div class="ui-g-6 ui-md-3 ui-lg-3 ui-g-nopad">
                <div class="LeaderBoard22">

                  <!-- You can now use it in app.component.html -->
                  <circle-progress [percent]="85" [radius]="30" [backgroundPadding]="1" [outerStrokeWidth]="10" [maxPercent]="100" [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8" [outerStrokeColor]="'#2a9f90'" [innerStrokeColor]="'#ffffff'" [animation]="true"
                    [animationDuration]="300" [showTitle]="true" [showUnits]="false" [showSubtitle]="false" [subtitleFontSize]="25"
                    [showTitle]="false" [outerStrokeLinecap]="'square'"></circle-progress>
                </div>
              </div>
              <div class="ui-g-6 ui-md-3 ui-lg-3">
                <div class="LeaderBoard">
                  <img src="assets/img/leaderboard.jpg" alt="Leader Board">
                  <p>Leader Board</p>
                </div>
              </div>
              <div class="ui-g-6 ui-md-3 ui-lg-3">
                <div class="rightBtn text-center">
                  <button pButton type="button" label="87 / 100" class="blackBtn"></button>
                  <button pButton type="button" label="Retake test" class="btnmuted"></button>
                </div>
              </div>
              <div class="ui-g-6 ui-md-3 ui-lg-3">
                <div class="rightBtn text-center">
                  <button pButton type="button" label="View Analysis" class="blackBtn"></button>
                  <button pButton type="button" label="View Test" class="orangeBtn"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- STATUS SECTION END -->

        <!-- STATUS SECTION START -->
        <div class="groupBox">
          <div class="ui-g ui-g-nopad">
            <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 ui-xl-6">
              <h2 class="nameofcompny fs1rem fbold no-marging ">
                <span>4</span> Infosys 2017 Recruitment
              </h2>
            </div>
            <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 ui-xl-6 ui-g-nopad">

              <div class="ui-g-6 ui-md-3 ui-lg-3">
                <div class="LeaderBoard22">

                  <p class=sectionTitle>Sections</p>
                  <span class="noindicate">3</span>

                </div>
              </div>
              <div class="ui-g-6 ui-md-3 ui-lg-3">

                <p class=sectionTitle>Questions</p>
                <span class="noindicate">50</span>

              </div>
              <div class="ui-g-6 ui-md-3 ui-lg-3">
                <p class=sectionTitle>Time Limit</p>
                <span class="noindicate">60 min</span>
              </div>
              <div class="ui-g-6 ui-md-3 ui-lg-3">

                <div class="rightBtn text-center">
                  <button pButton type="button" label="Paused" class="btnPaused"></button>
                  <button pButton type="button" label="Take test" class="btnGreen"></button>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- STATUS SECTION END -->


        <!-- STATUS SECTION START -->
        <div class="groupBox">
          <div class="ui-g ui-g-nopad">
            <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 ui-xl-6">
              <h2 class="nameofcompny fs1rem fbold no-marging ">
                <span>4</span> Infosys 2017 Recruitment
              </h2>
            </div>
            <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 ui-xl-6 ui-g-nopad">

              <div class="ui-g-6 ui-md-3 ui-lg-3">
                <div class="LeaderBoard22">

                  <p class=sectionTitle>Sections</p>
                  <span class="noindicate">3</span>

                </div>
              </div>
              <div class="ui-g-6 ui-md-3 ui-lg-3">

                <p class=sectionTitle>Questions</p>
                <span class="noindicate">50</span>

              </div>
              <div class="ui-g-6 ui-md-3 ui-lg-3">
                <p class=sectionTitle>Time Limit</p>
                <span class="noindicate">60 min</span>
              </div>
              <div class="ui-g-6 ui-md-3 ui-lg-3">

                <div class="rightBtn text-center">
                  <button pButton type="button" label="Take test" class="btnGreen"></button>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- STATUS SECTION END -->


      </div>
      <!-- Module Learning Contents section end -->

    </div>
  </div>
</div>
<!-- Main section end -->

